@import "tailwindcss";

.bg-fade-beige {
  background: linear-gradient(180deg, rgba(243, 242, 239, 0) 85%, #f3f2ef 100%);
}

@font-face {
  font-family: "GapyeongHanseokbongR";
  display: swap;
  src: url("/fonts/GapyeongHanseokbongR.ttf");
}

@font-face {
  font-family: "ZenAntique-Regular";
  display: swap;
  src: url("/fonts/ZenAntique-Regular.ttf");
}

@theme {
  /* 폰트 */
  --font-sans: "GapyeongHanseokbongR", sans-serif;
  --font-han: "ZenAntique-Regular", sans-serif;

  --font-size-seokbong-xs: 8px;
  --font-size-seokbong-r: 16px;
  --font-size-seokbong-b: 20px;

  --line-height-seokbong-100: 1;
  --line-height-seokbong-150: 1.5;

  --font-weight-r: 400;
  --font-weight-b: 700;

  --tracking-seokbong-tight: -0.025em;

  /* 색상 */
  --color-cell-red: #c23030;
  --color-cell-teal: #18868c;
  --color-main-beige: #f3f2ef;
  --color-line-gray: #2b557e;
}

@layer components {
  .text-seokbong-xs {
    font-family: var(--font-sans);
    font-size: var(--font-size-seokbong-xs);
    font-weight: var(--font-weight-r);
    line-height: var(--line-height-seokbong-100);
    letter-spacing: 0;
  }

  /* 일반 본문용 텍스트 (16px, 100%) */
  .text-seokbong-r {
    font-family: var(--font-sans);
    font-size: var(--font-size-seokbong-r);
    font-weight: var(--font-weight-r);
    line-height: var(--line-height-seokbong-100);
    letter-spacing: 0;
  }

  /* 강조 텍스트 (20px, 100%) */
  .text-seokbong-b {
    font-family: var(--font-sans);
    font-size: var(--font-size-seokbong-b);
    font-weight: var(--font-weight-b);
    line-height: var(--line-height-seokbong-100);
    letter-spacing: 0;
  }

  /* 말풍선/설명 텍스트 (16px, 150%, -2.5%) */
  .text-seokbong-buble {
    font-family: var(--font-sans);
    font-size: var(--font-size-seokbong-r);
    font-weight: var(--font-weight-r);
    line-height: var(--line-height-seokbong-150);
    letter-spacing: var(--tracking-seokbong-tight);
  }
}

.fade-in {
  -webkit-animation: fade-in 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.bubble-slide-in {
  animation: bubble-slide-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes bubble-slide-in {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
